:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-accent: rgb(255, 180, 50);
  --color-accent-soft: rgba(255, 180, 50, 0.6);
}

* {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.05em;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle at top left, #2c2c2c, #242424);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-accent);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: var(--color-accent-soft) !important;
}

ul {
  margin: 0;
  padding: 0;
}

input[type='file'] {
  border: 1px solid var(--color-accent);
  padding: 1.75px 2px;
  border-radius: 6px;
}

/* vue-router */
.link-active {
  color: var(--color-accent) !important;
}
