:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-accent: rgb(255, 180, 50);
  --color-accent-soft: rgba(255, 180, 50, 0.6);
}

* {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.05em;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle at top left, #2c2c2c, #242424);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: var(--color-accent-soft) !important;
}

/* vue-router */
.link-active {
  color: var(--color-accent) !important;
}
